:root{
    --Almost-white:hsl(0,0%,98%);
    --Medium-Gray:hsl(0,0%,41%);
    --Almost-Black:hsl(0,0%,8%);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}
 body{
    min-height: 100vh;
    width: 100%;
 }
 img{
    max-width: 100%;
 }
 .logo{
    padding-top: 10px;
 }
 /* button */
 .outlined-btn,
 .transparent-btn{
  padding: 1rem 2rem;
  border-radius: 15px;
  color: var(--Medium-Gray);
  background-color: transparent;
 }
 .transparent-btn{
    border: none;
    font-weight: 700;
 }
 .transparent-btn:hover{
    color: var(--Almost-Black);
 }
 .outlined-btn{
    border: 1px solid var(--Almost-Black);
    font-weight: 700;
 }
 .outlined-btn:hover{
    color: var(--Almost-Black);
 }
 .primary-btn{
    background-color: var(--Almost-Black);
    width: fit-content;
    padding: 1rem 2rem;
    color: var(--Almost-white);
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
 }
 .primary-btn:hover{
    background-color: var(--Almost-white);
    color: var(--Almost-Black);
 }
a{
    text-decoration: none;
}
li{
    list-style: none;
}
nav{
    height: 80px;
    display: flex;
    align-items: center;
}
.nav-container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: 1rem;
}
.nav-left{
    display: flex;
    align-items: center;
}
.nav-links{
    display: flex;
    margin-left: 4rem;
    gap: 2.5rem;
}
.nav-links li{
    cursor: pointer;
    color: var(--Medium-Gray);
    display: flex;
    align-items: center;
    gap: .5rem;
    position: relative;
    user-select: none;
}
.nav-links li:hover{
    color: var(--Almost-Black);
}
.mobile-menu-btn{
    display: none;
}
.mobile-menu{
    display: none;
}
.sub-menu{
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--Almost-white);
    box-shadow: 3px 8px 12px 8px rgba(0, 0, 0, 0.25);
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
}
.one{
    bottom: -170px;
    right: 0;
}
.two{
    bottom: -136px;
}
.sub-menu .sub-link{
    display: flex;
    align-items: center;
    width: 150px;
    gap: 0.5rem;
}
.active .arrow{
    transform: rotate(180deg);
    transition: 0.2s;
}
.active-menu{
    display: flex !important;
}
/* main */
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
    padding: 0 15px;
}
.main-container{
    display: grid;
    max-width: 1100px;
    gap: 5rem;
    grid-template-columns: 1fr 1fr;
}
.main-left{
    display: flex;
     flex-direction: column;
     justify-content: space-between;
}
.main-heading{
    font-size: 4.8rem;
    padding: 4rem 0 0 0;
}
.main-content{
    line-height: 1.6;
    font-size: 19px;

color: rgb(148, 148, 148);
    padding-right: 20px;
}
.logoes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width:800px) {
    .nav-container{
        padding-inline: 1rem;
    }
    .mobile-menu-btn{
        display: flex;
        cursor: pointer;
        z-index: 999;
    }
    .mobile-menu{
        display: none;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 70%;
        background-color: var(--Almost-white);
        padding: 5rem 2rem;
    }
    .mobile-links{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style: none;
    }
    .mobile-links li{
        display: flex;
        color: var(--Medium-Gray);
        flex-direction: column;
        cursor: pointer;
    }
    .mobile-links li p{
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .mobile-sub{
        display: none;
        flex-direction: column;
        gap: 1rem;
        margin: 1rem;
    }
    .overflow{
        background-color: black;
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 30%;
        opacity: .7;
    }

    .nav-links{
        display: none;
    }
    .nav-right{
        display: none;
    }
    main{
        align-items: flex-start;
    }
    .main-container{
        display: flex;
        flex-direction: column-reverse;
    }
    .main-left{
        align-items: center;
        text-align: center;
        gap: 2rem;
    }
    .main-heading{
        font-size: 2.2rem;
    }
    .main-heading br{
        display: none;
    }
    .logoes{
        width: 100%;
        padding-inline: 1rem;
        flex-wrap: wrap;
    }
    .mobile-right{
        padding: 10px 0;
        display: flex;
        flex-direction: column;

    }
}
@media screen and (max-width:1116px) {
    .main-heading{
        font-size: 3.8rem;
    }
}
@media screen and (max-width:906px) {
    .nav-container{
        padding-inline: 1rem;
    }

    .outlined-btn,
    .transparent-btn{
     padding: .6rem 1.4rem;
     border-radius: 15px;
     color: var(--Medium-Gray);
     background-color: transparent;
    }
    .transparent-btn{
       border: none;
       font-weight: 700;
    }
    .transparent-btn:hover{
       color: var(--Almost-Black);
    }
    .outlined-btn{
       border: 1px solid var(--Almost-Black);
       font-weight: 700;
    }
    .main-heading{
        font-size: 3.2rem;
    }
}
